body {
  font-family: "Times New Roman", Times, serif;
}

table {
  border: 1px solid black;
}

thead {
  background-color: #bbbbbb;
}

td {
  background-color:coral;
}

.buah {
  margin-left: auto;
  margin-right: auto;
  border: 0;
  background-color: white;
  width: 30%;
}

.buah td{
    background-color: white;
}
