nav{
    background-color: teal;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;

  }
  
  nav li {
    float: right;
    padding: 14px 16px;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  nav li :hover {
    background-color: coral;
    color:gray;
  }

  section{
    margin-top: 72px;
    background-color: white;
    padding:8px;
  }