body {
  font-family: "Times New Roman", Times, serif;
}

table {
  border: 1px solid black;
}

thead {
  background-color: #bbbbbb;
}

td {
  background-color: #e96036;
}

.timer {
  margin-left: auto;
  margin-right: auto;
  border: 0;
  background-color: white;
  width: 50%;
}

.timer td{
    background-color: white;
}
